{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set marginClass = 'mt-3' %}
{% set paddingClass = '' %}
{% set colClass = 'col-12' %}
{% if isItem is defined %}
    {% set marginClass = '' %}
    {% set paddingClass = 'p-2 px-3' %}
    {% if isMobile is defined %}
        {% set colClass = 'col-12 mx-auto' %}
    {% else %}
        {% set colClass = 'col-11 col-xxl-9 mx-auto pr-3' %}
    {% endif %}
{% endif %}

<div class="p-0 has-product-out-of-stock {{ marginClass}} {{ colClass }} ">
    <div class="alert alert-danger {{ paddingClass }}">
        <div class="d-flex align-items-center">
            <span class="pr-3 fa-2x">{{ icons.danger() }}</span>
            <div>
                {{ message|trans }}
            </div>
        </div>
    </div>
</div>
