{% set idDifferenceBillingAddress = form.differentBillingAddress.vars.id %}
{% if customIds is defined and formSaveType is defined %}
    {% set idDifferenceBillingAddress = formSaveType ~ '_' ~ 'save_shipping_differentBillingAddress' %}
{% endif %}

<div class="change-shipping-address" data-js-address-book="sylius-shipping-address">
    <h6 class="text-uppercase font-weight-bold">{{ 'sylius.ui.change_shipping_address'|trans }}</h6>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
            </div>

            {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.shippingAddress, 'order': order, 'addressType': 'shipping'} %}
            <div class="d-none">
                {{ form_row(form.differentBillingAddress, {'id': idDifferenceBillingAddress, 'attr': {'data-js-toggle': '[data-js-address-book="sylius-billing-address"]'}}) }}
            </div>

            {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
        </div>
    </div>
</div>

<div class="change-billing-address" data-js-address-book="sylius-billing-address">
    <h6 class="text-uppercase font-weight-bold">{{ 'sylius.ui.change_billing_address'|trans }}</h6>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
            </div>

            {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.billingAddress, 'order': order, 'addressType': 'billing'} %}

            {{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
        </div>
    </div>
</div>
