{% set idDifferenceBillingAddress = form.differentBillingAddress.vars.id %}
{% if customIds is defined and formSaveType is defined %}
    {% set idDifferenceBillingAddress = formSaveType ~ '_' ~ 'save_differentBillingAddress' %}
{% endif %}

{% set addNewAddress = false %}
{% if formSaveType is defined %}
    {% set addNewAddress = true %}
{% endif %}

<div>
    {% if addNewAddress %}
        <h6 class="text-uppercase font-weight-bold mb-3 px-0 px-xl-3">
            {{ 'sylius.ui.use_new_address'|trans }}
            <span class="add-shipping-title"> {{ 'sylius.ui.of_shipping'|trans }}</span>
            <span class="add-billing-title"> {{ 'sylius.ui.of_billing'|trans }}</span>
        </h6>
    {% endif %}
    <div class="card{% if addNewAddress %} mx-0 mx-xl-3{% endif %}">
        <div>
            {% if not addNewAddress %}
            <div class="mb-3 address-book">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' %}
            </div>
            {% endif %}

            <div class="add-shipping-address">
                {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.shippingAddress, 'order': order, 'addressType': 'shipping'} %}
                <div class="d-none">
                    {{ form_widget(form.differentBillingAddress, {'id': idDifferenceBillingAddress, 'value': true, 'attr': {'checked': 'checked'}}) }}
                </div>
                {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
            </div>
            <div class="add-billing-address">
                {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.billingAddress, 'order': order, 'addressType': 'billing'} %}
                {{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
            </div>

        </div>
    </div>
</div>
