{% set idDifferenceBillingAddress = form.differentBillingAddress.vars.id %}
{% if customIds is defined and formSaveType is defined %}
    {% set idDifferenceBillingAddress = formSaveType ~ '_' ~ 'save_differentBillingAddress' %}
{% endif %}


<div>
    <h6 class="text-uppercase font-weight-bold mb-3 px-0 px-xl-3 new-address-title">
        <span class="use {% if noAddressesYet %}d-none{% endif %}">
            {{ 'sylius.ui.use_new_address'|trans }}
            <span class="add-shipping-title"> {{ 'sylius.ui.of_shipping'|trans }}</span>
            <span class="add-billing-title"> {{ 'sylius.ui.of_billing'|trans }}</span>
        </span>
        <span class="add {% if addressInCheckout %}d-none{% endif %}">
            {{ 'sylius.ui.add_new_address_form'|trans }}
        </span>
    </h6>
    <div class="card border-0{% if formSaveType is defined %} mx-0 mx-xl-3{% endif %}">
        <div class="px-0">
            {% if formSaveType is not defined %}
            <div class="mb-3 address-book">
                {% include '@SyliusShop/Checkout/Address/_addressBookSelect.html.twig' with {'noAddressesYet': noAddressesYet, 'addressInCheckout': addressInCheckout} %}
            </div>
            {% endif %}

            <div class="add-shipping-address{% if noAddressesYet %} d-block{% endif %}">
                {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.shippingAddress, 'order': order, 'addressType': 'shipping'} %}
                <div class="d-none">
                    {{ form_widget(form.differentBillingAddress, {'id': idDifferenceBillingAddress, 'value': true, 'attr': {'checked': 'checked'}}) }}
                </div>
                {{ sonata_block_render_event('sylius.shop.checkout.address.shipping_address_form', {'order': order}) }}
            </div>
            <div class="add-billing-address">
                {% include '@SyliusShop/Checkout/Address/Form/_item.html.twig' with {'form': form.billingAddress, 'order': order, 'addressType': 'billing'} %}
                {{ sonata_block_render_event('sylius.shop.checkout.address.billing_address_form', {'order': order}) }}
            </div>

        </div>
    </div>
</div>
