<div class="row align-items-center no-gutters">
    <div class="header-links col-3 col-lg-4 text-uppercase">
        <div class="row mt-1">
            <div class="ml-3">
                <a id="menuButtonMain" class="show">
                    <span class="open">
                        <span class="d-block d-xl-none"><i class="fas fa-bars icon"></i></span>
                        <span class="header-link d-none d-xl-inline-block">{{ 'sylius.ui.pret_a_porter'|trans }}</span>
                    </span>
                    <span class="close">&times</span>
                    <span class="back"><img src="{{ asset('nobless-theme/images/back.png', 'noblessTheme') }}" /></span>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="header-link d-none d-xl-inline-block archives">{{ 'sylius.ui.archives'|trans }}</a>
            </div>
        </div>
    </div>

    <div id="megamenuDropdown" class="dropdown has-megamenu">
        <a id="menuButton" data-trigger="#navbarMainMobile" class="dropdown-toggle" data-toggle="dropdown" data-offset="13"></a>
        {# MENU DESKTOP #}
        <div class="dropdown-menu megamenu">
            {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_verticalMenu.html.twig'})) }}
        </div>

        {# MENU MOBILE #}
        <b class="screen-overlay"></b>
        <nav id="navbarMainMobile" class="mobile-offcanvas h-100">
            {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_verticalMenuMobile.html.twig'})) }}
        </nav>
    </div>

    <div class="col-6 col-lg-4 text-center">
        <a href="{{ path('sylius_shop_homepage') }}"><img class="logo img-fluid" src="{{ asset('nobless-theme/images/logo.png', 'noblessTheme') }}" alt="Noblezz logo" /></a>
    </div>

    <div class="col-3 col-lg-4 text-right my-1">
        <div class="d-flex flex-row justify-content-end menu-icones">
            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
            {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
        </div>
    </div>
</div>
