<div class="row align-items-center no-gutters">
    {# MOBILE HEADER #}
    <div class="d-flex d-sm-none">
        <div class="d-flex align-items-center">
            <a href="{{ path('sylius_shop_homepage') }}"><img class="logo w-100" src="{{ asset('nobless-theme/images/logo.png', 'noblessTheme') }}" alt="Sylius logo" /></a>
        </div>
        {# Menu #}
        <div class="navbar-light text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                <span>Menu</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    
    {# DESKTOP HEADER #}
    <div class="col-sm text-center text-lg-left d-none d-sm-block">
        <a href="{{ path('sylius_shop_homepage') }}"><img class="logo " src="{{ asset('nobless-theme/images/logo.png', 'noblessTheme') }}" alt="Sylius logo" /></a>
    </div>
    {# Menu #}
    <div class="col-sm-12 col-md order-md-1 text-center">
        {{ sonata_block_render_event('sylius.shop.layout.header') }}
        {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    </div>

    {#<div class="col-auto d-flex align-items-center">
        <div class="d-none d-md-block text-right">
            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
        <div class="ml-4">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>#}
</div>
