
<div id="footer-infos">
    <div class="container-fluid">
        <div class="row py-4 footer-legal justify-content-center">
            <div class="col-xs col-md-3 d-flex flex-row return-policy justify-content-center align-items-center mb-3 mb-sm-0">
                <img class="icon-footer" src="{{ asset('nobless-theme/images/return-policy.png', 'noblessTheme') }}" alt="Return Policy">
                <span class="ml-4">
                    <h5>Satisfait ou remboursé</h5>
                    <p class="m-0">14 jours pour essayer votre produit et nous le retourner satisfait ou remboursé</p>
                </span>
            </div>
            <div class="col-xs col-md-3 d-flex flex-row delivery justify-content-center align-items-center mb-3 mb-sm-0">
                <img class="icon-footer" src="{{ asset('nobless-theme/images/delivery-truck.png', 'noblessTheme') }}">
                <span class="ml-4">
                    <h5>Livraison Express</h5>
                    <p class="m-0">Chez vous ou en point relais<br><span>Livraison gratuite à partir de 49&euro;</span></p>
                </span>
            </div>
            <div class="col-xs col-md-3 d-flex flex-row payment justify-content-center align-items-center mb-2 mb-sm-0">
                <img class="icon-footer" src="{{ asset('nobless-theme/images/card.png', 'noblessTheme') }}">
                <span class="ml-4">
                    <h5>Paiement sécurisé</h5>
                    <p class="m-0">Réglez votre commande en toute sérénité</p>
                </span>
            </div>
        </div>
        <div class="row footer-links mt-4 mx-sm-5 justify-content-start justify-content-sm-center">
            <div class="col-xs col-md-3 d-flex flex-column mb-3 text-center text-sm-left">
                <h5>Informations</h5>
                <a href="#">Livraison et retours</a>
                <a href="#">Mentions légales</a>
                <a href="#">Politique de confidentialité</a>
                <a href="#">FAQ - Service client</a>
                <a class="banner-link" href="{{ path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'cgv'}) }}">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
            </div>
            <div class="col-xs col-md-3 d-flex flex-column mb-3 text-center text-sm-left">
                <h5>Mon compte</h5>
                <a href="#">Mes commandes</a>
                <a href="#">Mes avoirs</a>
                <a href="#">Mes adresses</a>
                <a href="#">Mes informations personnelles</a>
                <a href="#">Mes bons de réduction</a>
            </div>
            <div class="col-xs col-md-3 d-flex flex-column text-center text-sm-left">
                <h5>Moyens de paiement</h5>
                <span class="d-flex d-row payment-mode justify-content-center justify-content-sm-start">
                    <img src="{{ asset('nobless-theme/images/mastercard.png', 'noblessTheme') }}" />
                    <img src="{{ asset('nobless-theme/images/visa.png', 'noblessTheme') }}" />
                    <img src="{{ asset('nobless-theme/images/paypal.png', 'noblessTheme') }}" />
                </span>
                <h5>Moyens de livraison</h5>
                <span class="d-flex d-row delivery-mode justify-content-center justify-content-sm-start">
                    <img src="{{ asset('nobless-theme/images/mondial-relay.png', 'noblessTheme') }}" />
                    <img src="{{ asset('nobless-theme/images/colissimo.png', 'noblessTheme') }}" />
                    <img src="{{ asset('nobless-theme/images/chronopost.png', 'noblessTheme') }}" />
                </span>
            </div>
        </div>
    </div>
</div>