<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Noblezz Store{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app', null, 'noblessTheme') }}
        
        <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}

    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0" nonce="txnbdLod"></script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}

{% block top %}
{% endblock %}

{% block header %}
    <div id="headerContainer" class="bg-header">
        <div class="container-fluid">
            <header class="mb-lg-1">
                {% include '@SyliusShop/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
            </header>
        </div>
        <div class="header-banner"></div>
    </div>
{% endblock %}


<div id="mainContentContainer" class="main-content container-fluid mx-auto p-0">

    {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

    {% block content %}
        {% block flashes %}
            {% include '@SyliusShop/_flashes.html.twig' %}
        {% endblock %}
    {% endblock %}

    {# Forgotten password modal #}
    {{ render(url('sylius_shop_request_password_reset_token', {'template': '@SyliusShop/Account/passwordResetModal.html.twig'})) }}

    {% include '@SyliusShop/footerInfos.html.twig' %}

    {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
</div>

{% block footer %}
    {% include '@SyliusShop/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app', null, 'noblessTheme') }}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{{ sonata_block_render_event('sylius.shop.layout.after_body') }}

<div class="loading-overlay" data-js-loading-overlay>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

</body>
</html>
