{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
<div id="registerPage" class="col-12 col-md-11 col-lg-10 col-xl-8 row mx-auto p-0">
    <div class="col-12 mb-3">
        {% include '@SyliusShop/Register/_header.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.login.after_content_header') }}
    </div>

    <div class="row col-12 col-md-11 col-xl-10 mx-auto p-0 mb-3">
        <div class="col-12 mb-3">
            {{ sonata_block_render_event('sylius.shop.register.before_form') }}

            {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'novalidate': 'novalidate'}}) }}
                {% include '@SyliusShop/Register/_form.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="col-12 mt-3">
            <div class="mb-3 text-center"><a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}</a></div>
        </div>
    </div>
</div>
{% endblock %}
