{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="card card-carousel border-0">
    <div class="card-img-top">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}

        {% if product.variants|length > 1 %}
            {% include '@SyliusShop/Product/_boxVariant.html.twig' with {'productVariants': product.variants} %}
        {% endif %}
    </div>
    <div class="card-body card-body-product text-left">
        <h6 class="product-name"><a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="card-link">{{ product.name }}</a></h6>
        {% if not product.variants.empty() %}
            <span class="text-muted product-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
        {% endif %}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
