{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set product = variant.product %}
{% if cart_widget is not defined %}
    {% set div_order = ' order-first' %}
    {% set class_padding = 'px-3' %}
{% else %}
    {% set div_order = ' order-last' %}
    {% set class_padding = 'px-0' %}
{% endif %}

<div class="d-flex align-items-start {{ class_padding }} mb-3">
    <div class="mr-3 product-img-order {{ div_order }}">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_order_info_thumbnail', 'class': 'p-0 img-fluid'} %}
    </div>
    <div class="media-body d-flex flex-column justify-content-between">
        <div>
            <div class="item-title size-up font-weight-bold">{{ item.productName }}</div>
            {% if product.hasOptions() %}
                <div>
                    {% for optionValue in variant.optionValues %}
                        <div data-sylius-option-name="{{ optionValue.name }}">
                            <span>{{ optionValue.value }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% elseif item.variantName is not null %}
                <div>
                    <span>{{ item.variantName }}</span>
                </div>
            {% endif %}
            <div>
                <span> {{ 'sylius.ui.quantity'|trans }} : {{ item.quantity }}
            </div>
        </div>
        <div>
            {# Product price #}
            {% if item.unitPrice == item.discountedUnitPrice %}
                {% set productPrice = item.unitPrice %}
            {% else %}
                {% set productPrice = item.discountedUnitPrice %}
            {% endif %}
            <span>{{ money.convertAndFormat(item.discountedUnitPrice) }}</span>
        </div>
    </div>
</div>
