{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
{% set isProductBundle = product.isBundle() %}

<div class="row col-xl-10 p-0 p-md-auto m-0 mx-sm-3 mx-xl-auto{% if isProductBundle %} is-bundle{% endif %}">
    <div id="images-container" class="col-12 col-md-6 mb-3{% if not isProductBundle %} col-xl-8{% endif %}">
        <div class="p-0 px-sm-3 d-block d-lg-none">
            {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

            {% include '@SyliusShop/Product/Show/_images_mobile.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
        </div>
        <div class="pr-3 d-none d-lg-block">
            {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

            {% include '@SyliusShop/Product/Show/_images.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
        </div>
    </div>
    <div id="product-info" class="col-12 col-md-6 {% if not isProductBundle %}col-xl-4{% endif %} position-relative p-1 p-xl-0 mb-1">
        <div id="product-sticky" class="col-12 px-3 pl-sm-2 pr-sm-4 p-xl-0 {% if not isProductBundle %}sticky-top-custom{% endif %}">
            {% include '@SyliusShop/Product/Show/_header.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

            <div class="{% if isProductBundle %}mb-0{% else %}d-flex mb-3{% endif %}">
                {% if not product.variants.empty() %}
                    {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                {% endif %}
            </div>

            {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

            {# <p class="pb-4">{{ product.shortDescription }}</p> #}

            {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

            {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
            {% endif %}
            {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}

            {# PRODUCT DESCRIPTION #}
            {% if not isProductBundle %}
                {% include '@SyliusShop/Product/Show/_tabs.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="mb-4"></div>
{{ sonata_block_render_event('sylius.shop.product.show.before_associations', {'product': product}) }}

<div id="completeYourStyle">
    {{ render(url('app_shop_complete_your_style', {'product': product.id})) }}
</div>

<div id="LastProducts">
    {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
</div>
{% endblock %}
