{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="row">
    <div class="variant-list col-12">
        <div class="d-flex flex-column">
            <label class="variant-label required">{{ 'sylius.ui.choose_size'|trans }}</label>
            <div class="container-fluid col-12 p-0 text-left">
                {% for key, variant in product.variants %}
                    <label for="{{ id }}_productVariant_{{ key }}" class="variant-name{% if variant.onHand == 0 %} variant-disabled{% endif %}" data-bundle-item="{{ id }}">
                        {% for optionValue in variant.optionValues %}
                            {{ optionValue.code }}
                            {% if variant.onHand == 0 %}
                                <span class="out-of-stock {{ optionValue.code|lower }}"></span>
                            {% endif %}
                        {% endfor %}
                    </label>
                {% endfor %}
                <span class="invalid-feedback d-none empty-product">{{ 'sylius.ui.please_choose_size'|trans }}</span>
                {% for variant_input in product_variant_input %}
                    {% include '@SyliusShop/Product/Show/Bundle/_input.html.twig' with {'form_row_variables': variant_input.vars} %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
