{% extends '@SyliusShop/Account/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% set newPasswordMessage = '' %}
{% if form.newPassword.first.vars.errors[0] is defined and 'should not' in form.newPassword.first.vars.errors[0].message %}
    {% set newPasswordMessage = 'sylius.customer.password.not_blank'|trans({}, 'validators') %}
{% elseif form.newPassword.first.vars.errors[0] is defined %}
    {% set newPasswordMessage = form.newPassword.first.vars.errors[0].message %}
{% endif %}

{% block title %}
    {{ 'sylius.menu.shop.account.change_password'|trans }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% include '@SyliusShop/Common/_breadcrumb.html.twig' with {'pageTitle': 'sylius.menu.shop.account.change_password', 'accountPage': true} %}
{% endblock %}

{% block subcontent %}
    <div class="col-12 mt-5">
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}

        <h2 class="mb-3">{{ 'sylius.ui.change_password'|trans }}</h2>

        {{ sonata_block_render_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

        <div class="col-12 form-group px-0">
            {{ form_label(form.currentPassword) }}
            {{ form_widget(form.currentPassword) }}
            {{ form_errors(form.currentPassword) }}
        </div>

        <div class="col-12 form-group px-0">
            {{ form_label(form.newPassword.first) }}
            {{ form_widget(form.newPassword.first) }}
            {% if newPasswordMessage != '' %}
                <span class="invalid-feedback d-block">
                    <span class="d-block">
                        <span class="form-error-message">{{ newPasswordMessage }}</span>
                    </span>
                </span>
            {% endif %}
        </div>

        <div class="col-12 form-group px-0">
            {{ form_label(form.newPassword.second) }}
            {{ form_widget(form.newPassword.second) }}
            {{ form_errors(form.newPassword.second) }}
        </div>

        {{ sonata_block_render_event('sylius.shop.account.change_password.form', {'form': form}) }}

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-3">{{ 'sylius.ui.save_changes'|trans }}</button>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
