<div class="modal fade reset-password" id="resetPasswordModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1 p-md-3">
            <div class="modal-header d-flex flex-column px-2 pt-1 pb-0 px-md-3 pt-md-2 pb-md-1">
                <div class="row col-12">
                    <h4 class="modal-title col-11 col-md-10 my-1 mb-md-1 px-2">{{ 'sylius.user.forgot_password_title'|trans }}</h4>
                    <button type="button" class="close col-1 col-md-2 p-0 text-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row col-12 modal-subtitle px-2 tight-text">
                    <span class="col-12">{{ 'sylius.user.set_a_new_password_for_your_account_1'|trans }}</span><br>
                    <span class="col-12">{{ 'sylius.user.set_a_new_password_for_your_account_2'|trans }}</span>
                </div>
                {{ sonata_block_render_event('sylius.shop.request_password_reset_token.after_content_header') }}
            </div>
            <div class="modal-body p-0 pb-3 pt-1">
                <div class="col-12 px-3 px-md-4">
                    {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                    <div class="col-12 p-0">
                        {{ form_label(form.email) }}
                    </div>
                    <div class="col-12 p-0">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-errors">
                        {{ form_errors(form.email) }}
                        <span class="invalid-feedback d-block mb-3">
                            <span class="d-block">
                                <span class="form-error-message"></span>
                            </span>
                        </span>
                    </div>

                    {{ sonata_block_render_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

                    {{ form_row(form._token) }}
                    <button id="resetPasswordSubmit" type="submit" class="btn btn-primary w-100">{{ 'sylius.user.reset_password'|trans }}</button>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</div>
