{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block subcontent %}
    <div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_label(form.newPassword.first) }}
                {{ form_widget(form.newPassword.first) }}
                {{ form_errors(form.newPassword.first) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_label(form.newPassword.second) }}
                {{ form_widget(form.newPassword.second) }}
                {{ form_errors(form.newPassword.second) }}
            </div>
        </div>

    </div>
{% endblock %}
