{% extends '@SyliusShop/Account/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block title %}
    {{ 'sylius.menu.shop.account.personal_information'|trans }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% include '@SyliusShop/Common/_breadcrumb.html.twig' with {'pageTitle': 'sylius.menu.shop.account.personal_information', 'accountPage': true} %}
{% endblock %}

{% block subcontent %}
    <div class="col-12 mt-5">
        {{ form_start(form, {'action': path('sylius_shop_account_profile_update'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}

        <h5>{{ 'sylius.ui.edit_your_personal_information'|trans }}</h5>

        {{ sonata_block_render_event('sylius.shop.account.profile.update.after_content_header', {'customer': customer, 'form': form}) }}

        <input type="hidden" name="_method" value="PUT" />

        <div class="d-inline-block">{{ form_row(form.gender) }}</div>

        <div class="row">
            <div class="col-12 col-md-6 form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="col-12 col-md-6 form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="col-12 col-md-6 form-group">
                {{ form_label(form.birthday) }}
                {{ form_widget(form.birthday) }}
                {{ form_errors(form.birthday) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 form-group">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
                {{ form_errors(form.phoneNumber) }}
            </div>
        </div>

        <h5 class="mt-5">{{ 'sylius.ui.change_newsletter_subscription'|trans }}</h5>
        <div class="row">
            <div class="col">{{ form_row(form.subscribedToNewsletter) }}</div>
        </div>

        {{ sonata_block_render_event('sylius.shop.account.profile.update.form', {'customer': customer, 'form': form}) }}

        <button type="submit" class="btn btn-primary">{{ 'sylius.ui.save_changes'|trans }}</button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
