{% extends '@SyliusShop/layout.html.twig' %}

{%- block title -%}
    {% if page.title is not empty %}
        {{ page.title }}
    {% elseif page.name is not empty %}
        {{ page.name }}
    {% endif %}
    - {{ parent() }}
{%- endblock -%}

{% block metatags %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" content="{{ page.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row col-11 col-md-10 col-xl-8 mx-auto my-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ page.name }}</li>
        </ol>
    </div>

    <div class="row col-11 col-md-10 col-xl-8 mx-auto mb-5">
        <h1 class="text-uppercase mx-auto mb-4">{{ page.name }}</h1>

        {% if page.image %}
            <div>
                <div>
                    {% set path = preview is defined and preview == true ? page.image.path : '/media/image/'~page.image.path %}
                    <img class="img-fluid" src="{{ path }}" alt="">
                </div>
            </div>
        {% endif %}


        <div class="page-content">{{ bitbag_cms_render_content(page) }}</div>

        <div>
            {% include '@BitBagSyliusCmsPlugin/Shop/Page/Show/_sections.html.twig' %}
        </div>
    </div>
    {% if page.products|length > 0 %}
        <h2>
            {{ 'bitbag_sylius_cms_plugin.ui.page_related_products'|trans }}
        </h2>
        <div class="bitbag-page-products">
            {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': page.products} %}
        </div>
    {% endif %}
{% endblock %}
