{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}
    {{ 'sylius.menu.shop.account.order_history'|trans }} | {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% include '@SyliusShop/Common/_breadcrumb.html.twig' with {'pageTitle': 'sylius.menu.shop.account.order_history', 'accountPage': true} %}
{% endblock %}

{% block subcontent %}
    {{ sonata_block_render_event('sylius.shop.account.order.index.after_content_header', {'orders': orders}) }}

    <div id="ordersPage" class="mt-5">
        {{ sylius_grid_render(resources, '@SyliusShop/Account/Order/_ordersGrid.html.twig') }}
    </div>
    {{ sonata_block_render_event('sylius.shop.account.order.index.after_grid', {'orders': orders}) }}
{% endblock %}
