<div class="btn-group dropdown d-none d-lg-inline-block">
    <a href="#" class="dropdown-toggle dropdown-icon" data-toggle="dropdown"><img src="{{ asset('nobless-theme/images/account-icon.png', 'noblessTheme') }}" class="icon" /></a>
    <div class="dropdown-menu dropdown-menu-right login-dropdown" style="width:300px">
        {% if is_granted('ROLE_USER') %}
            <div class="row p-2">
                <a class="btn btn-primary btn-md btn-block mx-3 my-2" href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
                <a class="btn btn-primary btn-md btn-block mx-3 my-2" href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
            </div>
        {% else %}
            {{ render(controller('sylius.controller.shop.security:headerLoginAction')) }}
    {% endif %}
    </div>
</div>
