{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{{ sonata_block_render_event('sylius.shop.partial.cart.summary.before_widget_content', {'cart': cart}) }}
{% set cartCount = 0 %}
{% for item in cart.items %}
    {% set cartCount = cartCount + item.quantity %}
{% endfor %}

{% set itemsSubtotal = sylius_order_items_subtotal(cart) %}
{% set taxIncluded = sylius_order_tax_included(cart) %}

<div class="btn-group dropdown cart-btn">
    <a class="dropdown-toggle dropdown-icon position-relative" data-toggle="dropdown" href="#">
        <span class="cart-icon position-relative">
            <img src="{{ asset('nobless-theme/images/shopping-bag-icon.png', 'noblessTheme') }}" class="icon"/>
            <span class="cart-count">
                {{ cartCount }}
            </span>
        </span>
    </a>

    <b class="screen-overlay-cart"></b>
    <div class="header-dropdown dropdown-menu cart-dropdown">
        {{ sonata_block_render_event('sylius.shop.partial.cart.summary.before_popup_content', {'cart': cart}) }}

        {% if cart.empty %}
            <div class="card-body text-center">
                {{ 'sylius.ui.your_cart_is_empty'|trans }}.
            </div>
        {% else %}
            <div class="d-flex flex-column justify-content-between">
                <div id="headerCartItems">
                    {% for item in cart.items %}
                        {% include '@SyliusShop/Product/_headerProductItem.html.twig' with {'product': item, 'variant': item.variant} %}
                    {% endfor %}
                </div>
                <div id="cartActions">
                    <div class="d-flex flex-row justify-content-between mt-2 mx-3">
                        <span class="item-title">{{ 'sylius.ui.subtotal'|trans }}</span>
                        <span>{{ money.convertAndFormat(itemsSubtotal) }}</span>
                    </div>

                    <div class="p-3">
                        <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-outline-primary btn-block">{{ 'sylius.ui.view_cart'|trans }}</a>
                        <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary btn-block">{{ 'sylius.ui.checkout'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ sonata_block_render_event('sylius.shop.partial.cart.summary.after_popup_content', {'cart': cart}) }}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.partial.cart.summary.after_widget_content', {'cart': cart}) }}
