{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{{ sonata_block_render_event('sylius.shop.partial.cart.summary.before_widget_content', {'cart': cart}) }}
{% set cartCount = 0 %}
{% for item in cart.items %}
    {% set cartCount = cartCount + item.quantity %}
{% endfor %}

{% set itemsSubtotal = sylius_order_items_subtotal(cart) %}
{% set taxIncluded = sylius_order_tax_included(cart) %}

<div class="btn-group dropdown cart-btn">
    <a class="dropdown-toggle dropdown-icon position-relative" data-toggle="dropdown" href="#">
        <span class="cart-icon position-relative">
            <img src="{{ asset('nobless-theme/images/shopping-bag-icon.png', 'noblessTheme') }}" class="icon"/>
            <span class="cart-count">
                {{ cartCount }}
            </span>
        </span>
    </a>

    <b class="screen-overlay-cart"></b>
    <div class="header-dropdown dropdown-menu cart-dropdown">
        {{ sonata_block_render_event('sylius.shop.partial.cart.summary.before_popup_content', {'cart': cart}) }}

        <div id="emptyCart" class="card-body text-center{% if not cart.empty %} d-none{% endif %}">
            {{ 'sylius.ui.your_cart_is_empty'|trans }}
        </div>
        <div id="cartItems" class="{% if cart.empty %}d-none{% else %}d-flex{% endif %} flex-column justify-content-between">
            <div id="cartWidgetTitle" class="d-flex flex-row justify-content-between mx-3 mb-2 pb-2">
                <div>
                    <h3 class="d-none d-md-block">{{ 'sylius.ui.your_shopping_cart'|trans }}</h3>
                    <h3 class="d-block d-md-none">{{ 'sylius.ui.cart'|trans }}</h3>
                </div>
                <div class="close-cart-widget">{{ icons.times() }}</div>
            </div>

            <form id="headerCartItems" class="position-relative loadable">
                {% for item in cart.items %}
                    {% include '@SyliusShop/Product/_headerProductItem.html.twig' with {'variant': item.variant, 'parentRoute': parentRoute} %}
                {% endfor %}
            </form>
            <div id="headerCartNewItem" class="d-none"></div>
            <div id="cartActions">
                <div class="d-flex flex-row justify-content-between mt-2 mx-3 cart-subtotal">
                    <span class="item-title">{{ 'sylius.ui.subtotal'|trans }}</span>
                    <span>{{ money.convertAndFormat(itemsSubtotal) }}</span>
                </div>

                <div class="p-3">
                    <span class="invalid-feedback quantity-error text-center mb-2" data-js-add-to-cart="error">
                        <span class="form-error-message"></span>
                    </span>
                    <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-outline-primary btn-block">{{ 'sylius.ui.view_cart'|trans }}</a>
                    <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary btn-block">{{ 'sylius.ui.complete_order'|trans }}</a>
                </div>
            </div>
        </div>

        {{ sonata_block_render_event('sylius.shop.partial.cart.summary.after_popup_content', {'cart': cart}) }}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.partial.cart.summary.after_widget_content', {'cart': cart}) }}
