{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block content %}    
    <div id="cartPage" class="row col-12 col-lg-11 col-xl-10 mx-auto mx-3 mb-3">
        {% if not cart.empty %}

                <div class="col-12">
                    {% include '@SyliusShop/Cart/Summary/_header.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_content_header', {'cart': cart}) }}
                </div>
                {# FORM DESKTOP #}
                <div class="col-8 mb-3 d-none d-lg-block">
                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                    {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
                </div>
                {# FORM MOBILE #}
                <div class="col-12 mb-3 d-block d-lg-none">
                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                    {% include '@SyliusShop/Cart/Summary/Mobile/_items.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_totals', {'cart': cart}) }}

                    {% include '@SyliusShop/Cart/Summary/_totals.html.twig' %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_totals', {'cart': cart}) }}
                </div>

        {% else %}
            <div class="col-12">
                {{ messages.info('sylius.ui.your_cart_is_empty') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
