{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}
{% set hasProductOutOfStock = sylius_order_has_product_out_of_stock(cart) %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div id="cartPage" class="row col-12 col-lg-11 col-xl-10 mx-auto mx-3 mb-3">
        {% if not cart.empty %}
            <div class="d-none">
                {% block flashes %}
                    {{ parent() }}
                {% endblock %}
            </div>

            <div class="col-12 p-0">
                {% include '@SyliusShop/Cart/Summary/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_content_header', {'cart': cart}) }}
            </div>

            {# FORM DESKTOP #}
            <div class="col-7 mb-3 d-none d-md-block p-0">
                {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
            </div>
            {# FORM MOBILE #}
            <div class="col-12 mb-3 d-block d-md-none">
                {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                {% include '@SyliusShop/Cart/Summary/Mobile/_items.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
            </div>
            <div class="col-12 col-md-5 position-relative">
                {{ sonata_block_render_event('sylius.shop.cart.summary.before_totals', {'cart': cart}) }}

                {% include '@SyliusShop/Cart/Summary/_totals.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_totals', {'cart': cart}) }}
            </div>
        {% else %}
            <div class="row col-12 col-lg-10 col-xxl-8 mx-auto mt-3 mb-5 empty-cart">
                {% include '@SyliusShop/Common/Alert/_alertError.html.twig' with {'message': 'sylius.ui.your_cart_is_empty'} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
