
{% if media.code == 'menu-image-look' %}
    <a href="{{ path('sylius_shop_product_index', {'slug': 'bundles', '_locale': sylius.localeCode}) }}">
        <img class="d-block img-fluid" src="{{ media.path }}" alt="{{ media.name }}"/>
    </a>
{% else %}
    <img class="d-block img-fluid" src="{{ media.path }}" alt="{{ media.name }}"/>
{% endif %}
