
{{ form_start(form, {'action': path('sylius_shop_cart_save'), 'attr': {'class': 'loadable form-to-submit cart-items', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PATCH"/>

    {{ sonata_block_render_event('sylius.shop.cart.summary.items', {'cart': cart, 'form': form}) }}

    {% for key, item in cart.items %}
        {% set error = '' %}
        {% set maxQtyInCart = sylius_max_qty_in_cart(item) %}

        {% if formErrors is defined and item.id in formErrors|keys %}
            {% set error = formErrors[item.id] %}
        {% elseif sylius_order_item_out_of_stock(item) %}
            {% set error = 'sylius.form.bag.not_available' %}
        {% elseif form.items[key].quantity.vars.data >= maxQtyInCart %}
            {% set error = 'sylius.form.bag.limit_in_cart_reached' %}
        {% endif %}

        {% include '@SyliusShop/Cart/Summary/_item.html.twig' with {'item': item, 'form': form.items[key], 'error': error, 'maxQtyInCart': maxQtyInCart} %}
    {% endfor %}
    <div class="card-body d-none">
        <div class="row">
            {% if form.promotionCoupon is defined %}
                <div class="col">
                    {{ sonata_block_render_event('sylius.shop.cart.summary.before_coupon', {'cart': cart, 'form': form}) }}

                    {% include '@SyliusShop/Cart/Summary/_coupon.html.twig' with {'form': form.promotionCoupon} %}

                    {% include '@BitBagSyliusBonusPointsPlugin/Shop/Cart/_bonusPoints.html.twig' with {'form': form, 'cart': cart} %}

                    {{ sonata_block_render_event('sylius.shop.cart.summary.after_coupon', {'cart': cart, 'form': form}) }}
                </div>
            {% endif %}
        </div>
    </div>
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
