<address>
    <strong>{{ address.firstName }} {{ address.lastName }}</strong><br>
    {{ address.street }}<br>
    <div class="{% if address.street2 == '' %} d-none{% endif %}">
        {{ address.street2 }}<br>
    </div>
    {{ address.postcode }} {{ address.city }}<br>
    {{ address.countryCode|sylius_country_name|upper }}
</address>
