{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/Macro/pagination.html.twig' as pagination %}

<div class="card mb-0 mt-2 category-header">
    <div class="card-body p-2">
        <div class="row d-flex flex-row justify-content-between">
            <div id="productsFilters" class="product-filters d-none d-xl-block">
                {% include '@SyliusShop/Product/Index/_filters.html.twig' %}
            </div>
            <b class="screen-overlay-filters"></b>
            <div id="productsFiltersMobile" class="product-filters dropdown d-block d-xl-none">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">{{ 'sylius.ui.sort_and_filter'|trans }}</a>
                <div class="dropdown-menu">
                    <a class="close d-none">&times;</a>
                    {% include '@SyliusShop/Product/Index/_filtersMobile.html.twig' %}
                </div>
            </div>
            <div class="d-none d-xl-block">
                {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
            </div>
        </div>
    </div>
</div>


{{ sonata_block_render_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

{% if resources.data|length > 0 %}
    <div class="row">
        {% for product in resources.data %}
            <div class="col-6 col-sm-4 col-md-3 mb-3 px-2">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>

    {{ sonata_block_render_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

    <div class="d-flex justify-content-end mt-3">
        {{ pagination.simple(resources.data) }}
    </div>
{% else %}
    <div class="row">
        <div class="col-12">
        {{ messages.info('sylius.ui.no_product_filter') }}
        </div>
    </div>
{% endif %}
