{% if resources.data.nbResults > 0 %}

{% set route = app.request.attributes.get('_route') %}
{% set route_parameters = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

{% set criteria = app.request.query.get('criteria', {}) %}

{% set newest_first_path = path(route, route_parameters|merge({'sorting': {'createdAt': 'desc'}, 'criteria': criteria})) %}
{% set cheapest_first_path = path(route, route_parameters|merge({'sorting': {'price': 'asc'}, 'criteria': criteria})) %}
{% set most_expensive_first_path = path(route, route_parameters|merge({'sorting': {'price': 'desc'}, 'criteria': criteria})) %}

{% if app.request.query.get('sorting') is empty or (app.request.query.get('sorting').createdAt is defined and app.request.query.get('sorting').createdAt == 'desc') %}
    {% set current_sorting_label = 'sylius.ui.newest_first'|trans %}
{% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'asc'%}
    {% set current_sorting_label = 'sylius.ui.cheapest_first'|trans %}
{% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'desc' %}
    {% set current_sorting_label = 'sylius.ui.most_expensive_first'|trans %}
{% else %}
    {% set current_sorting_label = '' %}
{% endif %}


<div class="dropdown d-flex flex-row align-items-center pr-2">
    <span class="default-color">{{ 'sylius.ui.sort_by'|trans }}</span>
    <button class="btn btn-link dropdown-toggle px-1 py-0 font-weight-bold" type="button" data-toggle="dropdown">{{ current_sorting_label }}</button>
    <div class="dropdown-menu dropdown-menu-right px-3">
        <a class="dropdown-item" href="{{ newest_first_path }}" data-text="{{ 'sylius.ui.newest_first'|trans|lower }}">{{ 'sylius.ui.newest_first'|trans }}</a>
        <a class="dropdown-item" href="{{ cheapest_first_path }}" data-text="{{ 'sylius.ui.cheapest_first'|trans|lower }}">{{ 'sylius.ui.cheapest_first'|trans }}</a>
        <a class="dropdown-item" href="{{ most_expensive_first_path }}" data-text="{{ 'sylius.ui.most_expensive_first'|trans|lower }}">{{ 'sylius.ui.most_expensive_first'|trans }}</a>
    </div>
</div>

{% endif %}
