{{ form_start(form, {'action': path('sylius_shop_to_register'), 'method': 'POST', 'attr': {'class': 'col-12 header-register-form', 'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_widget(form.username, {'id': 'headerRegister'}) }}
    </div>
    <span class="invalid-feedback mb-1">
        <span class="form-error-message">{{ 'sylius.customer.email.invalid_email'|trans({}, 'validators') }}</span>
    </span>
    <button type="submit" class="col-12 btn btn-primary submit-register" data-form=".header-register-form">{{ 'sylius.ui.create_an_account'|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
