{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div id="headerLogin" class="row p-3">
    {{ sonata_block_render_event('sylius.shop.login.before_login') }}
    <h5 class="col-12 no-border">{{ 'sylius.ui.customer_login'|trans }}</h5>

    {{ form_start(form, {'action': path('sylius_shop_login_check'), 'attr': {'class': 'loadable col-12', 'novalidate': 'novalidate'}}) }}
        {% include '@SyliusShop/Login/_form.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.login.form', {'form': form}) }}

        <button type="submit" class="btn btn-primary btn-md btn-block py-2 mt-2">{{ 'sylius.ui.login'|trans }}</button>
        <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
    {{ form_end(form, {'render_rest': false}) }}

    {{ sonata_block_render_event('sylius.shop.login.after_login') }}
    
    <h5 class="no-border my-3 px-3">{{ 'sylius.ui.new_customers'|trans }}</h5>
    {% include '@SyliusShop/Login/headerRegister.html.twig' with {'form': form_register} %}
</div>
