{% if shipping == null %}
    {% set shipping = app.user.customer.defaultAddress %}
{% endif %}
{% if billing == null %}
    {% set billing = app.user.customer.defaultAddress %}
{% endif %}

{% set haveDefault = false %}
{% if app.user.customer.defaultAddress %}
    {% set haveDefault = true %}
{% endif %}

{% set addressAction = '' %}
{% set addressClass = '' %}
{% if haveAddresses or haveDefault or shipping != null or billing != null %}
    {% set addressAction = 'change' %}
    {% set addressClass = 'change-address' %}
{% endif %}

<div class="chosen-address">
    <div class="row col-12 col-lg-10 col-xxl-9 mx-auto mb-3 px-3">
        <div class="col-12 col-xl-6 pl-0 pr-2 px-0 px-xl-3 mb-3 mb-xl-0">
            <div class="d-flex flex-row justify-content-between">
                <h6 class="font-weight-bold text-uppercase">{{ 'sylius.ui.shipping_address'|trans }}</h6>
                {% if step == 'complete' %}
                    <a class="d-block d-lg-none" href="{{ path('sylius_shop_checkout_address') }}">{{ 'sylius.ui.modify'|trans }}</a>
                {% endif %}
            </div>
            {% include '@SyliusShop/Checkout/Address/_item.html.twig' with {'address': shipping, 'addressType': 'shipping'} %}
            {% if step != 'complete' %}
                <a class="change-address shipping{% if addressAction == '' %} d-none{% endif %}">
                    <span class="change-title">{{ 'sylius.ui.change_address'|trans }}</span>
                </a>
            {% endif %}
        </div>
        <div class="col-12 col-xl-6 pr-0 pl-xl-2 px-0 px-xl-3">
            <h6 class="font-weight-bold text-uppercase">{{ 'sylius.ui.billing_address'|trans }}</h6>
            {% include '@SyliusShop/Checkout/Address/_item.html.twig' with {'address': billing, 'addressType': 'billing'} %}
            {% if step != 'complete' %}
                <a class="change-address billing{% if addressAction == '' %} d-none{% endif %}">
                    <span class="change-title">{{ 'sylius.ui.change_address'|trans }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
