{% if shipping == null %}
    {% set shipping = app.user.customer.defaultAddress %}
{% endif %}
{% if billing == null %}
    {% set billing = app.user.customer.defaultAddress %}
{% endif %}

<div class="chosen-address">
    <div class="row col-12 col-lg-11 col-xl-10 mx-auto mb-3 px-0 px-sm-3">
        <div class="col-12 col-lg-6 pl-0 pr-2 px-0 px-lg-3 mb-3 mb-lg-0">
            <div class="d-flex flex-row justify-content-between">
                <h6 class="font-weight-bold text-uppercase">{{ 'sylius.ui.shipping_address'|trans }}</h6>
                {% if step == 'complete' %}
                    <a class="d-block d-lg-none" href="{{ path('sylius_shop_checkout_address') }}">{{ 'sylius.ui.modify'|trans }}</a>
                {% endif %}
            </div>
            {% include '@SyliusShop/Common/_address.html.twig' with {'address': shipping, 'addressType': 'shipping'} %}
            {% if step != 'complete' %}
                <a class="change-address shipping">{{ 'sylius.ui.change_address'|trans }}</a>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 pr-0 pl-lg-2 px-0 px-lg-3">
            <h6 class="font-weight-bold text-uppercase">{{ 'sylius.ui.billing_address'|trans }}</h6>
            {% include '@SyliusShop/Common/_address.html.twig' with {'address': billing, 'addressType': 'billing'} %}
            {% if step != 'complete' %}
                <a class="change-address billing">{{ 'sylius.ui.change_address'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
