{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}

    {{ sonata_block_render_event('sylius.shop.checkout.address.after_steps', {'order': order}) }}

    <div id="checkoutPage" class="row col-12 col-xxl-10 mx-auto px-0 px-lg-3">
        <div class="col-12 col-md-7 col-xl-8 mb-5 mx-auto px-3 px-xl-5">
            {% include '@SyliusShop/Checkout/_steps.html.twig' %}

            {% include '@SyliusShop/Checkout/_chosenAddresses.html.twig' with {'step': 'address', 'shipping': order.shippingAddress, 'billing': order.billingAddress} %}

            {{ sonata_block_render_event('sylius.shop.checkout.address.before_form', {'order': order}) }}

            {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'class': 'main-address-form loadable', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PUT" />

                <div class="card checkout-address-form col-12 col-xl-11 mx-auto px-0 px-sm-3">
                    <div class="separator w-75 mx-auto mb-3"></div>

                    <div class="d-flex flex-row justify-content-between">
                        <div class="col-auto px-0 px-lg-3">
                            {% for addressType in ['shipping', 'billing'] %}
                                {% set className = 'change-' ~ addressType ~ '-title' %}
                                {% set title = 'sylius.ui.change_' ~ addressType ~ '_address' %}
                                <h6 class="text-uppercase font-weight-bold {{ className }} mb-0">{{ title|trans }}</h6>
                            {% endfor %}
                        </div>

                        <a class="checkout-add-address col-auto pr-0">
                            {{ icons.plus() }}
                            <span class="d-none d-lg-inline">{{ 'sylius.ui.add_address'|trans }}</span>
                            <span class="d-inline d-lg-none">{{ 'sylius.ui.add'|trans }}</span>
                        </a>
                    </div>

                    {% include '@SyliusShop/Checkout/Address/_form.html.twig' %}
                </div>

                {{ sonata_block_render_event('sylius.shop.checkout.address.before_navigation', {'order': order}) }}

                {% include '@SyliusShop/Checkout/Address/_navigation.html.twig' %}

                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

            {% include '@SyliusShop/Checkout/Address/_saveAddressNavigation.html.twig' with {'form': formSave} %}
        </div>
        <div class="col-12 col-md-5 col-xl-4 px-3 px-xl-5">
            {{ sonata_block_render_event('sylius.shop.checkout.address.before_summary', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order, 'hideShipping': true} %}
        </div>
    </div>
{% endblock %}
