{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="card add-to-cart">
    <div class="card-body">
        {{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

        {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'data-js-add-to-cart': 'form', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
            {{ form_errors(form) }}
            <div class="alert alert-danger my-2 d-none" data-js-add-to-cart="error"></div>
            <div class="alert alert-danger my-2 d-none empty-product">{{ 'sylius.ui.please_choose_size'|trans }}</div>

            {% if not product.simple %}
                {% if product.variantSelectionMethodChoice %}
                    {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
                {% else %}
                    {% include '@SyliusShop/Product/Show/_options.html.twig' %}
                {% endif %}
            {% endif %}

            <div class="row align-items-end">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">
                            <span class="btn-icon">{{ icons.cart() }}</span>
                            {{ 'sylius.ui.add_to_cart'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
