{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="row">
    <div class="variant-list col-12 col-xl-9">
        <div class="form-group d-flex flex-column">
            <label class="variant-label required">{{ 'sylius.ui.choose_size'|trans }}</label>
            <div class="container-fluid col-12 p-0 text-left d-flex flex-row">
                {% for key, variant in product.variants %}
                    <label for="sylius_add_to_cart_cartItem_variant_{{ key }}" class="d-flex justify-content-center align-items-center variant-name{% if variant.onHand == 0 %} variant-disabled{% endif %}">
                        {% for optionValue in variant.optionValues %}
                            {{ optionValue.code }}
                            {% if variant.onHand == 0 %}
                                <span class="out-of-stock"></span>
                            {% endif %}
                        {% endfor %}
                    </label>
                    <input type="radio" id="sylius_add_to_cart_cartItem_variant_{{ key }}" name="sylius_add_to_cart[cartItem][variant]" required="required" class="form-check-input" value="{{ variant.code }}" {% if variant.onHand == 0 %}disabled{% endif %}/>
                {% endfor %}
            </div>

            <span class="invalid-feedback d-none empty-product">{{ 'sylius.ui.please_choose_size'|trans }}</span>
            <div class="invalid-feedback form-error-message my-2 d-none" data-js-add-to-cart="error"></div>
        </div>
    </div>
    <div class="qty-product col-12 col-xl-3">
        <div class="form-group d-flex flex-column">
            <label for="sylius_add_to_cart_cartItem_quantity" class="required">Quantité</label>
            <select id="sylius_add_to_cart_cartItem_quantity" name="sylius_add_to_cart[cartItem][quantity]" class="form-control" required="required">
                {% for i in 1..7 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        {{ sonata_block_render_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item}) }}
    </div>
</div>
